<html>

  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Xác thực tài khoản email</title>
  </head>

  <body>
    <h2>Xác thực tài khoản email</h2>
    <h4>Xin chào {{email}},</h4>
    <p>Mật khẩu đăng nhập của bạn là : {{password}}</p>
  </body>

</html>