<html>

  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Xác thực tài khoản email</title>
  </head>

  <body>
    <h2>Xác thực tài khoản email</h2>
    <h4>Xin chào {{name}},</h4>
    <p><a href={{link}}>Hãy truy cập vào đường dẫn này để tiếp tục xác thực tài
        khoản email của bạn.</a></p>
    <p>Thời gian hết hạn: {{ttl}} phút</p>
  </body>

</html>