<html>

  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Thư cảm ơn đã đăng kí thành viên</title>
  </head>

  <body>
    <h2>Xin chào "{{name}}",</h2>
    <p>Chào mừng bạn đến với KingSport, bạn sẽ thỏa sức mua sắm với nhiều mẫu
      giày khác nhau mang thương hiệu nổi tiếng.
    </p>
    <p>Chúc bạn hạnh phúc và thành công</p>
  </body>

</html>